.product-item{
    max-width:200px;
    border:1px solid #ccc;
    margin:10px;
    padding:10px;
    text-align:center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: transform 0.2s;
}